*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(23, 23, 46);
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.links {
  display: flex;
  align-items: center;
  height: 30px;
}

.links * {
  height: 30px;
  fill: white;
}

.links *:hover {
  fill: rgb(152, 211, 238);
}

footer {
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 5px 0;
  background-color: rgb(23, 23, 46);
  z-index: 999999;
}

@media (max-width: 550px) {
  .links * {
    height: 30px;
    fill: white;
  }
}
